<div class="row mt-4 center-xs">
  <div class="col-xs-12">
    <h2>Inscribe un trabajador independiente</h2>
  </div>
</div>
<div class="row mb-4 center-xs">
  <form (ngSubmit)="onSaveWorker()" #workerForm="ngForm" class="col-xs-12 col-md-8">
    <div class="row">
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Tipo de Documento</mat-label>
        <mat-select name="documentType">
          <mat-option *ngFor="let type of documentTypes" [value]="type.id">{{type.descriptor}}</mat-option>
        </mat-select>
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Documento</mat-label>
        <input matInput type="number" name="documentNumber">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-xs-12" appearance="fill">
        <mat-label><span class="color-warn">* </span>Nombres y Apellidos</mat-label>
        <input matInput type="text" name="fullName">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Sexo</mat-label>
        <mat-select name="genderType">
          <mat-option *ngFor="let type of genderTypes" [value]="type.id">{{type.descriptor}}</mat-option>
        </mat-select>
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="birthdate" placeholder="MM/DD/AAAA">
        <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
        <mat-datepicker #birthdate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Oficio</mat-label>
        <input matInput type="text" name="job">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Ingresos Mensuales (pesos colombianos)</mat-label>
        <input matInput type="number" name="monthlyIncome">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Correo Electrónico</mat-label>
        <input matInput type="email" name="email">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-md-6" appearance="fill">
        <mat-label><span class="color-warn">* </span>Teléfono</mat-label>
        <input matInput type="number" name="telephone">
        <mat-error *ngIf="false">
          Este campo es obligatorio.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row mt-3 end-xs">
      <div class="col-xs-12">
          <button mat-flat-button type="button" class="mr-3" (click)="initWorkerData()">Limpiar Filtros</button>
          <button mat-raised-button type="button" color="primary" (click)="onSaveWorker()">Guardar</button>
      </div>
    </div>
  </form>
</div>